<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.neighborCabinet.project.dao.IRentHistoryDAO">
 <!--  	<resultMap id="rentHistoryResult" type="com.neighborCabinet.project.model.RentHistoryVO" >
  		<result property="rentNo"  column="rentNo"  />
  		<result property="rentPlace"  column="rentPlace"  />
  		<result property="receiptDate"  column="receiptDate"  />
  		<result property="userName"  column="userName"  />
  		<result property="rentTime"  column="rentTime"  />
  		<result property="rentState"  column="rentState"  />
  		<result property="pickup"  column="pickup"  />
  	</resultMap> -->
  	
  	<!-- 검색 가능한 내역 나누기-->
  	<!--  -->
  	
	<sql id="historyWhere" >
		WHERE 1=1
		<if test="searchKeyword != null and searchKeyword != ''">
		<!-- 공급해준 대여장소(선택지 몇 안 됨, 알맞게 수정) 또는 소비자와 매치 -->
			<![CDATA[
			AND
			(rentPlace LIKE concat('%',#{searchKeyword},'%')
			OR
		    userName LIKE concat('%',#{searchKeyword},'%'))  
			]]> 
		</if>
	</sql>
	<!-- 대여 내역 조회 -->
	<select id="listAllHistory" parameterType="com.neighborCabinet.project.model.RentHistoryVO" resultType="com.neighborCabinet.project.model.RentHistoryVO">
		<![CDATA[
		SELECT *
		FROM rentHistory
		]]> 
		<include refid="historyWhere"/>
		<![CDATA[
		ORDER BY rentNo DESC
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		]]> 
	</select>
	
	<select id="getListCnt" parameterType="com.neighborCabinet.project.model.RentHistoryVO" resultType="java.lang.Integer">
		SELECT count(*)
		FROM rentHistory
		<include refid="historyWhere"/>
	</select>
	
</mapper>