<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- <beans:bean class="org.springframework.web.servlet.view.UrlBasedViewResolver"
		p:order="2"
		p:viewClass="org.springframework.web.servlet.view.JstlView"
	    p:prefix="/WEB-INF/views/"  
	    p:suffix=".jsp"
	 />
	
	<beans:bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="1"/>     
       
	qr코드 생성 클래스 정의     
	<beans:bean id="qrcodeview" class="com.study.batch.QRCodeView"/> -->
  
   <mapper namespace="com.neighborCabinet.project.dao.IRentHistoryDAO">
  	<!-- 검색 가능한 내역 나누기-->
  	<!--  -->
  	
	<sql id="historyWhere" >
		<!-- WHERE 1=1 -->
		<!-- WHERE pNo=#{pNo}
		AND userId=#{userId} -->
		<if test="searchKeyword != null and searchKeyword != ''">
		<!-- 공급해준 대여장소(선택지 몇 안 됨, 알맞게 수정) 또는 소비자와 매치 -->
			<![CDATA[
			AND
			(rentPlace LIKE concat('%',#{searchKeyword},'%')
			OR
		    userName LIKE concat('%',#{searchKeyword},'%'))  
			]]> 
		</if>
	</sql>
	<!-- 대여 내역 조회 -->
	<select id="listAllHistory" parameterType="com.neighborCabinet.project.model.RentHistoryVO" resultType="com.neighborCabinet.project.model.RentHistoryVO">
		<![CDATA[
		SELECT *
		FROM reserve
		WHERE userId=#{userId}
		]]> 
		<!-- <include refid="historyWhere"/> -->
		<![CDATA[
		ORDER BY reserveNo DESC
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		]]> 
	</select>
	
	<select id="getListCnt" parameterType="com.neighborCabinet.project.model.RentHistoryVO" resultType="java.lang.Integer">
		SELECT count(*)
		FROM reserve
		WHERE userId=#{userId}
		<include refid="historyWhere"/>
	</select>
	
	
	
	
</mapper>