@charset "UTF-8";
/* 전체 레이아웃 및 설정 */
#wrap{
	text-align : center;
}
.spaceDiv{
	height : 100px;
}
#wrap table{
	margin : auto;
	text-align : left;
	width : 1536px;
}
.left_align{
	margin : 10px auto;
	text-align : left;
	width : 1536px;
	font-size : 25px;
	font-weight : bolder;
}
table {
	border-collapse: collapse;
}

/* 첫번째 테이블 */
#ordered_boxTitle td{
	text-align : center;
}
#ordered_boxTitle tr td:first-child{
	border-top : solid 1px gray;
	border-bottom : solid 1px gray;
	width : 50%;
}
#ordered_boxTitle tr td:nth-child(2){
	border : solid 1px gray;
	width : 25%;
}
#ordered_boxTitle tr td:nth-child(3){
	border-top : solid 1px gray;
	border-bottom : solid 1px gray;
	width : 25%;
}
#ordered_boxTitle tr:nth-child(n+2) td:first-child>div{
	display : flex;
	align-items : center;
	justify-content : space-evenly;
}
.top_row{
	background-color : #d3d3d3;
	height : 50px;
	font-size : 20px;
}
.bottom_row{
	height : 100px;
}

.img_border{
	margin : 0;
	border-radius : 80px;
	width : 80px;
	height : 80px;
	display : flex;
	align-items : center;
}
.boxA_TypeImg{
	width : 80px;
	height : auto;
}

/* 아래 두 테이블 */
.left_col{
	text-align : left;
	background-color : #d3d3d3;
	width : 100px;
	height : 50px;
	padding-left : 5px;
	font-size : 20px;
	border-top : solid 1px gray;
	border-bottom : solid 1px gray;
}
.right_col{
	border-top : solid 1px gray;
	border-bottom : solid 1px gray;
	border-left : solid 1px gray;
	padding-left : 5px;
	font-size : 18px;
}

/* 배송지 정보 */
#shipping_option{
	margin : 5px 0;
	width : 300px;
	height : 35px;
	font-size : 20px;
}
#shipping_optionInput{
	margin : 5px 0;
	width : 300px;
	box-sizing : border-box;
	height : 35px;
	font-size : 20px;
	display : none;
}